@model IEnumerable<DataAccess.Warframe>
@using Project.Helpers;


@{
    ViewBag.Title = "Warframes";
}

<h2>Warframes List</h2>

@if (LoginUserSession.Current.IsAdministrator)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Health)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Energy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Armor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Health)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Armor)
            </td>
            @if (LoginUserSession.Current.IsAdministrator)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
            @if (LoginUserSession.Current.IsAdministrator == false)
            {
                <td>
                    |  @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            }

        </tr>
    }

</table>
